<app-title title="Control Flow" withShadow></app-title>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">If: {{ showContent() }}</h2>
    <button
      (click)="toggleContent()"
      class="bg-blue-500 text-white px-4 py-2 rounded"
    >
      Toggle Content
    </button>
  </div>

  @if (!!showContent()) {
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">If: {{ showContent() }}</h2>
  </div>
  }
  <!-- @else {
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">Else: {{ showContent() }}</h2>
  </div>
  } -->

  <!-- Switch -->
  <div class="bg-white rounded shadow p-10">
    @switch (grade()) { @case ('A') {
    <h2 class="text-2xl font-bold mb-5">Grade A: Excellent!</h2>
    } @case ('B') {
    <h2 class="text-2xl font-bold mb-5">Grade B: Good job!</h2>
    } @case ('C') {
    <h2 class="text-2xl font-bold mb-5">Grade C: You passed.</h2>
    } @case ('D') {
    <h2 class="text-2xl font-bold mb-5">Grade D: Needs improvement.</h2>
    } @case ('F') {
    <h2 class="text-2xl font-bold mb-5">Grade F: Failed.</h2>
    } @default {
    <h2 class="text-2xl font-bold mb-5">No grade available.</h2>
    } }
  </div>

  <!-- For -->
  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (framework of frameworks(); track frameworks; let i = $index , first
      = $first, last = $last, even = $even, odd = $odd, count = $count) {
      <li
        [class]="{
        'bg-red-100': even && !first && !last,
        'bg-green-100': odd && !first && !last,
        'bg-blue-100': first || last,
      }"
      >
        {{ i + 1 }} - {{ framework }}
      </li>
      <li class="text-sm text-gray-500 mb-2">
        First: {{ first }}, Last: {{ last }}, Even: {{ even }}, Odd: {{ odd }},
        Count: {{ count }}
      </li>
      }
    </ul>
  </div>

  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (framework of frameworks2(); track $index) {
      <li class="text-2xl font-bold mb-5">{{ framework }}</li>

      } @empty {
      <li class="text-2xl font-bold mb-5">No frameworks available.</li>
      }
    </ul>
  </div>
</section>
